body {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Helvetica Neue", sans-serif;
}

.inp{
  margin-top: 200px;
}

.error{
  display:none;
}

.card {
  position: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.blurred-layer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("https://i.pinimg.com/736x/22/8b/cf/228bcf5a0800f813cd1744d4ccbf01ea.jpg");
  background-position: bottom;
  filter: blur(10px);
  z-index: 1;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  mask-size: 100% 100%;
  mask-repeat: no-repeat;

  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
}

.content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  z-index: 2;
}

.content h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.content p {
  font-size: 14px;
  color: #ddd;
  line-height: 1.4;
}
/* Popup Fullscreen Background */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


/* Box */
.popup-box {
    background: #1a1a1a;
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    border: 1px solid #333;
}

/* Title */
.popup-box .title {
    color: white;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}

/* Form elements */
.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.form input {
    padding: 12px;
    background: #111;
    border: 1px solid #333;
    color: white;
    border-radius: 8px;
    outline: none;
}

/* Button Row */
.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btns button {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

/* Cancel button */
.btns #cancelBtn {
    background: #555;
    color: white;
}

/* Add User button inside popup */
.btns button[type="submit"] {
    background: #4f46e5;
    color: white;
}

/* Hide by default */
.hidden{
  display: none;
}

/* Add User button fixed at top-left */
.add-user-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 5px 10px;
    background: #4f46e5;
    color: white;
    font-weight: 200;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 200;
}

.add-user-btn:hover {
    background: #4338ca;
}

.add-user-btn:active {
    transform: scale(0.97);
}
